layout {
    pane size=1 borderless=true{
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical"{
        pane size="70%" name="workspace"{
            pane name="editor" focus=true command="bash"{
              args "-i" "-c" "nvim"
            }
        }
        pane size="30%" name="side panel"{
          pane size="12" command="bmon"
          pane size="12" command="htop"
          pane name="git tree" command="tig"
        }
    }
    pane size=2 borderless=true{
        plugin location="zellij:status-bar"
    }
}
